:root{
  --changeColor: #33ff00;;
  --spacing: 10px;
  --blur: 10px;
}
img{
  background: var(--changeColor);
  padding: var(--spacing);
  filter: blur(var(--blur));
}
span{
  color: var(--changeColor);
}
body{
  text-align: center;
  background: linear-gradient(to left, #f0e1e1,#253847,#162633);
  color: #fff;
}
h2{
  font-size: 70px;
}
.controls{
  font-size: 20px;
}
img{
  width: 50%;
  margin: 50px 0;
}
